video.centered {
    display:block;
    margin-left: auto;
    margin-right: auto;
}
body {
    color: whitesmoke;
    background-color: rgb(46, 15, 15);
}
.centered {
    text-align:center;
}
main {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white; 
    width: 600px;
    font-family: 'Shizuru', cursive;
    font-size: 25px;
}
img {
    width: 600px;
    height: auto;
}
a {
    color:rgb(238, 238, 46);
}
.bold{
    text-transform: uppercase;
}

