
body {
    color: rgb(216, 204, 216);
    background: rgb(8, 8, 8);
}
strong {
    font-size: 200pt;
} 
th {
    font-size: 57pt;
    font-weight: normal;
}
.price {
    color: #160216; 
    background-color: #f7f1eb
}
.bold {
    font-weight: bold ;
 
}
a {
    color: whitesmoke;
}
table a {
    color:orangered;
}
 .centered {
     text-align:center;
     }
img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
p {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 200;
}
h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 86px;
}
